pkgbase = nerd-fonts-dejavu-complete
	pkgdesc = All variants of Nerd-Font-patched DejaVu Sans Mono
	pkgver = 3.2.0
	pkgrel = 1
	url = https://github.com/ryanoasis/nerd-fonts
	arch = any
	license = MIT
	provides = ttf-font
	source = nerd-fonts-dejavu-complete-3.2.0_DejaVuSansMNerdFont-Bold.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.2.0/patched-fonts/DejaVuSansMono/Bold/DejaVuSansMNerdFont-Bold.ttf
	source = nerd-fonts-dejavu-complete-3.2.0_DejaVuSansMNerdFontMono-Bold.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.2.0/patched-fonts/DejaVuSansMono/Bold/DejaVuSansMNerdFontMono-Bold.ttf
	source = nerd-fonts-dejavu-complete-3.2.0_DejaVuSansMNerdFontPropo-Bold.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.2.0/patched-fonts/DejaVuSansMono/Bold/DejaVuSansMNerdFontPropo-Bold.ttf
	source = nerd-fonts-dejavu-complete-3.2.0_DejaVuSansMNerdFont-BoldOblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.2.0/patched-fonts/DejaVuSansMono/Bold-Italic/DejaVuSansMNerdFont-BoldOblique.ttf
	source = nerd-fonts-dejavu-complete-3.2.0_DejaVuSansMNerdFontMono-BoldOblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.2.0/patched-fonts/DejaVuSansMono/Bold-Italic/DejaVuSansMNerdFontMono-BoldOblique.ttf
	source = nerd-fonts-dejavu-complete-3.2.0_DejaVuSansMNerdFontPropo-BoldOblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.2.0/patched-fonts/DejaVuSansMono/Bold-Italic/DejaVuSansMNerdFontPropo-BoldOblique.ttf
	source = nerd-fonts-dejavu-complete-3.2.0_DejaVuSansMNerdFont-Oblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.2.0/patched-fonts/DejaVuSansMono/Italic/DejaVuSansMNerdFont-Oblique.ttf
	source = nerd-fonts-dejavu-complete-3.2.0_DejaVuSansMNerdFontMono-Oblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.2.0/patched-fonts/DejaVuSansMono/Italic/DejaVuSansMNerdFontMono-Oblique.ttf
	source = nerd-fonts-dejavu-complete-3.2.0_DejaVuSansMNerdFontPropo-Oblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.2.0/patched-fonts/DejaVuSansMono/Italic/DejaVuSansMNerdFontPropo-Oblique.ttf
	source = nerd-fonts-dejavu-complete-3.2.0_DejaVuSansMNerdFont-Regular.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.2.0/patched-fonts/DejaVuSansMono/Regular/DejaVuSansMNerdFont-Regular.ttf
	source = nerd-fonts-dejavu-complete-3.2.0_DejaVuSansMNerdFontMono-Regular.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.2.0/patched-fonts/DejaVuSansMono/Regular/DejaVuSansMNerdFontMono-Regular.ttf
	source = nerd-fonts-dejavu-complete-3.2.0_DejaVuSansMNerdFontPropo-Regular.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.2.0/patched-fonts/DejaVuSansMono/Regular/DejaVuSansMNerdFontPropo-Regular.ttf
	source = nerd-fonts-dejavu-complete-3.2.0_LICENSE::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.2.0/LICENSE
	sha512sums = 33c8956283a5766b1288a1e4617b894ced589f1c4fefc51023a45698a3b8e4d9cf69cdfacb5de1b36d5a6927eb510d67b8413913b33217b106a934475ae26581
	sha512sums = fda7ff9d24e0e49232ff5ce4a60315a3876159dab7864e4efaef4a39c771a511548157d0d175000badb9d6de8f1aa33b6b93eb13cbec58bfc4124a8a126abcab
	sha512sums = 071f6e70c76afa5651a0c3cefb8da52449f5f1e45b18063ed13f0bcc4a7cea4779dfd261d3c81c5840b68d90a4bb526755d5ce8e7afe5668ebf19d9966007fd6
	sha512sums = a54fb632cbec3fc0c79d16981f8037de4f7efc5ead22408d72ae9d63f994ab1a2040c3d3f4547c99a0c0b9bdf48ae559c310e63d27f27c148f6af4bd087c5d52
	sha512sums = eaf2ccad975a96d7d806121ede0e973398d3c2fdd0123ca2651946f86abe5f12a3df891bf41c4a33144197d32a1cb14e8550bc59a6e5a81b8c2667f4c6cc40bb
	sha512sums = a7c169bca66c7657782cd63162cd5702a32f5b040a13fc28e0e7922319f6649da67d3b567a19ed9e2d015f3b0fd91779833970f3479002881461fad5bb584c0a
	sha512sums = 0ad069c00f0a187c935ac6bd3c7cf86d3bdb8a654d928fc7f77f08a5058847b150284df7b82afc06d716edff26050946843fd8cf35d257ef78716693986c7b83
	sha512sums = f5703e501e532c018e044e2c27b27c9645335435b06b13c4a1e7a5e3c873b73d006aa88b4f3bbfd5d3c670e711ad2f8b45825e2dac8fa3a2cda12351565e50e0
	sha512sums = ae59c9684feecfb2fb735d9bb0141f2853218961e59fd03560296508dc8979612593611c6fa650b08b6443e5e612b9dcf1c288b06a0b144bc931f17204f43409
	sha512sums = ad2382bf9c4815313087db7a22f7ef5e3e1dcb58a4330ba676b78784cd992fa89d642171e5139fa7ba48abef7b66c68f21b95049920c5cd2c16d17fd2362a4d9
	sha512sums = d9d6b08a18db24bf00094b10862ae9bd04786c6b6da4efdd8e01e8215eda42c7202305010fded6d7bbbb6d21a13d80f334257a69a50b9fe82502e28aa2992198
	sha512sums = 27ed7e4dbb4c01cdbba2537baba83a5c57bd89e1997b2aa84747e83fadeea3f513d3d01d6388bd9d40e661175b0d202ea5b069dc3c615869490c4b17e72b4d86
	sha512sums = 54b3d670b99a1128b32e61078165ddf9823a43dd51ef4f523b58a4d5638180ee57a22d90ce76e8955f50b6b556bc0f7ee32231d6abbb95575ceef7376e61215a

pkgname = nerd-fonts-dejavu-complete
