pkgbase = nerd-fonts-dejavu-complete
	pkgdesc = All variants of Nerd-Font-patched DejaVu Sans Mono
	pkgver = 3.1.1
	pkgrel = 1
	url = https://github.com/ryanoasis/nerd-fonts
	arch = any
	license = MIT
	provides = ttf-font
	source = nerd-fonts-dejavu-complete-3.1.1_DejaVuSansMNerdFont-Bold.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.1.1/patched-fonts/DejaVuSansMono/Bold/DejaVuSansMNerdFont-Bold.ttf
	source = nerd-fonts-dejavu-complete-3.1.1_DejaVuSansMNerdFontMono-Bold.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.1.1/patched-fonts/DejaVuSansMono/Bold/DejaVuSansMNerdFontMono-Bold.ttf
	source = nerd-fonts-dejavu-complete-3.1.1_DejaVuSansMNerdFontPropo-Bold.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.1.1/patched-fonts/DejaVuSansMono/Bold/DejaVuSansMNerdFontPropo-Bold.ttf
	source = nerd-fonts-dejavu-complete-3.1.1_DejaVuSansMNerdFont-BoldOblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.1.1/patched-fonts/DejaVuSansMono/Bold-Italic/DejaVuSansMNerdFont-BoldOblique.ttf
	source = nerd-fonts-dejavu-complete-3.1.1_DejaVuSansMNerdFontMono-BoldOblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.1.1/patched-fonts/DejaVuSansMono/Bold-Italic/DejaVuSansMNerdFontMono-BoldOblique.ttf
	source = nerd-fonts-dejavu-complete-3.1.1_DejaVuSansMNerdFontPropo-BoldOblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.1.1/patched-fonts/DejaVuSansMono/Bold-Italic/DejaVuSansMNerdFontPropo-BoldOblique.ttf
	source = nerd-fonts-dejavu-complete-3.1.1_DejaVuSansMNerdFont-Oblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.1.1/patched-fonts/DejaVuSansMono/Italic/DejaVuSansMNerdFont-Oblique.ttf
	source = nerd-fonts-dejavu-complete-3.1.1_DejaVuSansMNerdFontMono-Oblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.1.1/patched-fonts/DejaVuSansMono/Italic/DejaVuSansMNerdFontMono-Oblique.ttf
	source = nerd-fonts-dejavu-complete-3.1.1_DejaVuSansMNerdFontPropo-Oblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.1.1/patched-fonts/DejaVuSansMono/Italic/DejaVuSansMNerdFontPropo-Oblique.ttf
	source = nerd-fonts-dejavu-complete-3.1.1_DejaVuSansMNerdFont-Regular.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.1.1/patched-fonts/DejaVuSansMono/Regular/DejaVuSansMNerdFont-Regular.ttf
	source = nerd-fonts-dejavu-complete-3.1.1_DejaVuSansMNerdFontMono-Regular.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.1.1/patched-fonts/DejaVuSansMono/Regular/DejaVuSansMNerdFontMono-Regular.ttf
	source = nerd-fonts-dejavu-complete-3.1.1_DejaVuSansMNerdFontPropo-Regular.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.1.1/patched-fonts/DejaVuSansMono/Regular/DejaVuSansMNerdFontPropo-Regular.ttf
	source = nerd-fonts-dejavu-complete-3.1.1_LICENSE::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.1.1/LICENSE
	sha512sums = 6ec6ed890450216448f8b856f99a2893f4e2e44a50f34b3ca60f06fd79b4abda9443e54e93c321f3904ecb70a843aa515acb46ed34281b89be241eec560c125e
	sha512sums = ed2246464d19c48e2a0dd776cebd9dbe3958c37d9981d4fc3e4cd8c50e8b59c30183d2052e9f88aa827d36fdf3c24f00a0b3e83eb47330090105adcab9e03ed3
	sha512sums = f43ed5922aacea41aee532117576e97d1f75683fd5425bdaceef302500c911b2f9bf14a420eedeb5f11070e1e70cc8dbbc19f7c0506bb4eae05dea12e636b4fc
	sha512sums = e226efff877eeaf48a01690e2ea215024f0835c333831e3e8371f49e3a2ac59df9086d2f5634f7d471e39a79085027901202790083293cc3273615abfe9571af
	sha512sums = 0863718d1cfd8a3157174190b26b04720afc45f6272cc149dbda91697bbccba63f087f1e7b5976a443ce8de3ffc2ff24eb741ccbd28fab95f1c157a83c78ca99
	sha512sums = e7c853b3ce7c378fbee4dfaa215684cb1af0edcfbb509473a541c32e54159ddab95f623e1b18bcc2065617d465588e9d61425b363b584a3b3f2fa220de5e440c
	sha512sums = 680613b2220bab54672ebd41bdfb8bca944b5f6cca785d5960f4c3591dc3530c1a259746d520dd81866b54616c37313fe57fa3fc1a586dc7d5954bfd22acf655
	sha512sums = d33c70ed3d06c3757120f2a080eb81da968436bd6b8b6f5e99c27dd26e1f55efe9da896c4cec4196d0a94f5b77091f3faa4d34d20029d5bea42e0ad9a9555dbb
	sha512sums = f7aa217c3575c093bd876dc0782cc924a909c990d5e731901302a45c40a9d9a685354f6b0f00296af925c69597ebe6df817454098ff5a2acea7ab114774a2ff5
	sha512sums = c07544b41fa48af8c9c7ec0984c211a28a33af63b5b5d2cd841d1263f7d1228df010e3674f816ae75f59f3f96d77c1aafd94b96210e8b493d7dc951c0cc955dd
	sha512sums = 4dd8c1c80167abf0e485a7087c299551dd99cb626dc22dcf09361216024f19c216826f02252c85da0223bf14068063b929e01e87b393a3b93217171de7088dec
	sha512sums = 9c30219bb2c69da64e206b9aa987ed312c72e4f665cb1fedf6f475f5106f3798db4879e59dd421c72f9e4668975f7ba8d33ac189cf2dabdc74e87df61d8f29cc
	sha512sums = 54b3d670b99a1128b32e61078165ddf9823a43dd51ef4f523b58a4d5638180ee57a22d90ce76e8955f50b6b556bc0f7ee32231d6abbb95575ceef7376e61215a

pkgname = nerd-fonts-dejavu-complete
