pkgbase = nerd-fonts-dejavu-complete
	pkgdesc = All variants of Nerd-Font-patched DejaVu Sans Mono
	pkgver = 3.0.1
	pkgrel = 1
	url = https://github.com/ryanoasis/nerd-fonts
	arch = any
	license = MIT
	provides = ttf-font
	source = nerd-fonts-dejavu-complete-3.0.1_DejaVuSansMNerdFont-Bold.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.0.1/patched-fonts/DejaVuSansMono/Bold/DejaVuSansMNerdFont-Bold.ttf
	source = nerd-fonts-dejavu-complete-3.0.1_DejaVuSansMNerdFontMono-Bold.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.0.1/patched-fonts/DejaVuSansMono/Bold/DejaVuSansMNerdFontMono-Bold.ttf
	source = nerd-fonts-dejavu-complete-3.0.1_DejaVuSansMNerdFontPropo-Bold.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.0.1/patched-fonts/DejaVuSansMono/Bold/DejaVuSansMNerdFontPropo-Bold.ttf
	source = nerd-fonts-dejavu-complete-3.0.1_DejaVuSansMNerdFont-BoldOblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.0.1/patched-fonts/DejaVuSansMono/Bold-Italic/DejaVuSansMNerdFont-BoldOblique.ttf
	source = nerd-fonts-dejavu-complete-3.0.1_DejaVuSansMNerdFontMono-BoldOblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.0.1/patched-fonts/DejaVuSansMono/Bold-Italic/DejaVuSansMNerdFontMono-BoldOblique.ttf
	source = nerd-fonts-dejavu-complete-3.0.1_DejaVuSansMNerdFontPropo-BoldOblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.0.1/patched-fonts/DejaVuSansMono/Bold-Italic/DejaVuSansMNerdFontPropo-BoldOblique.ttf
	source = nerd-fonts-dejavu-complete-3.0.1_DejaVuSansMNerdFont-Oblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.0.1/patched-fonts/DejaVuSansMono/Italic/DejaVuSansMNerdFont-Oblique.ttf
	source = nerd-fonts-dejavu-complete-3.0.1_DejaVuSansMNerdFontMono-Oblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.0.1/patched-fonts/DejaVuSansMono/Italic/DejaVuSansMNerdFontMono-Oblique.ttf
	source = nerd-fonts-dejavu-complete-3.0.1_DejaVuSansMNerdFontPropo-Oblique.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.0.1/patched-fonts/DejaVuSansMono/Italic/DejaVuSansMNerdFontPropo-Oblique.ttf
	source = nerd-fonts-dejavu-complete-3.0.1_DejaVuSansMNerdFont-Regular.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.0.1/patched-fonts/DejaVuSansMono/Regular/DejaVuSansMNerdFont-Regular.ttf
	source = nerd-fonts-dejavu-complete-3.0.1_DejaVuSansMNerdFontMono-Regular.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.0.1/patched-fonts/DejaVuSansMono/Regular/DejaVuSansMNerdFontMono-Regular.ttf
	source = nerd-fonts-dejavu-complete-3.0.1_DejaVuSansMNerdFontPropo-Regular.ttf::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.0.1/patched-fonts/DejaVuSansMono/Regular/DejaVuSansMNerdFontPropo-Regular.ttf
	source = nerd-fonts-dejavu-complete-3.0.1_LICENSE::https://raw.githubusercontent.com/ryanoasis/nerd-fonts/v3.0.1/LICENSE
	sha512sums = 56eef74b3946701eb91585547c2a2679114297247b5d02c9745db1fe95c2006108649e50367f9189fc0e65bb2d06cb10a618cd989d1ec02175d00dac2c42e902
	sha512sums = 541ca08417cf2b8414e527f085970b5879d318228c4083fd9e37447dd33b3ed9e366664946bddda739981513a792605b950780d9c61b50a9adb019376ce4e7f7
	sha512sums = 81967f655a45b30ff44d858573d9322c312d69462449f69bd1e7ba44beb7c8bc5a2f5c484e3a67a0e9a5f46d573c8de2a4dfad6d5f6cdf79f5a0354ec5d329a3
	sha512sums = 03f07ff3a95f5f84f91df8f3651b3d74c0b3225ce4b4aec7de2d4f10e233d28a8abd8668ad0bba9db53554745d6a65d275306fbefa04c33184ffbeb318b730f0
	sha512sums = 1d60ebbb8c8512780b37c084c3d6426218e3ae5d4fc0a838c7113b29e795e2e9ec7f4fc64a5976117a265244fd445f0d27849b81a293bcca56b9214818d506f3
	sha512sums = 3651c3ac0a1aaa816053810ec62ab7edf21aab7be037cce6f28954fe4b9c3a5e96e3cea9bc0fde9d13f625820ae453433239857e378a551eba9a2f69916269cd
	sha512sums = 877e94632d6a3d49342c2341486aeea8fcdf54f59a719eba11542eff149ad24c6c8cb083e3160a5647fd8f460d0f92ae2bba5554c4a79b671bcc890234170f49
	sha512sums = a03fdf3e417990f85467e940c89526861d53ca334699ee0152e3100995e842c28c97c7229bd64563208bbf40ff068311d670c68713ca050b9891ae6b03a8a003
	sha512sums = 2e1f06645ec29b65dbf29c56e6c137bcb28fe8606dc3baec4079869484d303c4f0a1c2fa32aca064b8e0498ee2f7a9803a61cf4e3d821e05f30fb0973787b126
	sha512sums = 105cd8a77d977968610e6b5c9ea9c86dc1583a2a4f8bc4c195bd78290e3db1b1855b5d0c6fd3b26d481fda29a870990c906d13e3679a07d7137644f43a9698b6
	sha512sums = c3ca69fb8fa1d99a56ba28bff79e3a3f0e45528d1ecf54958ccbbf0212f905ea628c3307e63be063a799cb81bee14ce2a2cf48d335999101c5450315f566c765
	sha512sums = e430851172e91a43dead98c4ee97d19b772dd002f42eb5e93092a9771f3fff7bded3ffacc8dfbd3627db17ad6da97a01609334b38b4e3a6e57ba777247c1d4b5
	sha512sums = 54b3d670b99a1128b32e61078165ddf9823a43dd51ef4f523b58a4d5638180ee57a22d90ce76e8955f50b6b556bc0f7ee32231d6abbb95575ceef7376e61215a

pkgname = nerd-fonts-dejavu-complete
